* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navtop {
  background-color: #2f3947;
  height: 60px;
  width: 100%;
  border: 0;
}

.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.navtop div h1,
.navtop div a {
  display: inline-flex;
  align-items: center;
}

.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #eaebed;
  font-weight: normal;
}

.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #eaebed;
  font-weight: bold;
}

.navtop div a i {
  padding: 2px 8px 0 0;
}

.navtop div a:hover {
  color: #eaebed;
}

body {
  background-color: #435165;
  margin: 0;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  width: 100%;
  height: auto;
  color: #f1f1f1;
  position: absolute;
}

table {
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-style: normal;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#searchbarcontainer {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#searchbar {
  width: 300px;
}

#results-table {
  width: 100%;
  display: flex;
  display: none;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 300px;
}

#homeresultstable {
  padding-top: 20px;
  padding-left: 20px;
}

#wishlistsection {
  padding-left: 20px;
}

.collection {
  display: flex;
  padding: 20px;
}

#submitbutton {
  background-color: #0b7dda;
  color: white;
}

h1 {
  padding-left: 20px;
}

.login,
.register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1,
.register h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login .links,
.register .links {
  display: flex;
  padding: 0 15px;
}

.login .links a,
.register .links a {
  color: #adb2ba;
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}

.login .links a:hover,
.register .links a:hover {
  color: #9da3ac;
}

.login .links a.active,
.register .links a.active {
  border-bottom: 3px solid #3274d6;
  color: #3274d6;
}

.login form,
.register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form input[type=password],
.login form input[type=text],
.login form input[type=email],
.register form input[type=password],
.register form input[type=text],
.register form input[type=email] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type=submit],
.register form input[type=submit] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.login form input[type=submit]:hover,
.register form input[type=submit]:hover {
  background-color: #2868c7;
  transition: background-color 0.2s;
}

body.loggedin {
  background-color: #f3f4f7;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}

.content > p,
.content > div {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}

.content > p table td,
.content > div table td {
  padding: 5px;
}

.content > p table td:first-child,
.content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}

.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}/*# sourceMappingURL=styles.css.map */