{% extends "index.html" %} {% block content %}

<h1>Welcome back! {{ username }}</h1>

<div class="collection">
  <form action="/add" method="post" autocomplete="off">
    <label for="artist">
      <i class="fas fa-user"></i>
    </label>
    <input
      type="text"
      name="artist"
      placeholder="Artist"
      id="artist"
      required
    />
    <label for="album">
      <i class="fas fa-user"></i>
    </label>
    <input
      type="text"
      name="album"
      placeholder="Album"
      id="album"
      required
      --
    />

    <input type="submit" value="Add Item To Collection" id="submitbutton" />
  </form>
</div>

<div class="msg">{{ msg }}</div>

{% endblock %}
