{% extends "base.html" %} {% block body %}
<h1>Welcome back! {{ username }}</h1>

<div class="collection">
  <form action="/add" method="post" autocomplete="off">
    <label for="artist">
      <i class="fas fa-user"></i>
    </label>
    <input
      type="text"
      name="artist"
      placeholder="Artist"
      id="artist"
      required
    />
    <label for="album">
      <i class="fas fa-user"></i>
    </label>
    <input
      type="text"
      name="album"
      placeholder="Album"
      id="album"
      required
      --
    />

    <input type="submit" value="Add Item To Collection" id="submitbutton" />
  </form>
</div>

<div class="msg">{{ msg }}</div>

  <div id="wishlistsection">
  <h2> View Wishlist:</h2>
  <button type="button" onclick="window.location.href='/collection';" id="collectionbutton" class="btn btn-outline-success my-2 my-sm-0">
            <i class="fa fa-search">View Wishlist
          </button>
</div>

  <div id="homeresultstable">
        <table>
  <tr>
    <th>Artist</th>
    <th>Album</th>
  </tr>

  {% for item in data %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
  </tr>
  {% endfor %}
</table>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}


