{% extends "index.html" %} {% block content %}

<p>Welcome back! {{ username }}</p>

<div class="collection">
  <h1>Add To Your Collection</h1>

  

  <!-- <form action="{{ url_for('home') }}" method="post" autocomplete="off">
    <label for="album">
      <i class="fas fa-user"></i>
    </label>
    <input type="text" name="album" placeholder="Album" id="album" required />
    <label for="artist">
      <i class="fas fa-user"></i>
    </label>
    <input
      type="text"
      name="artist"
      placeholder="Artist"
      id="artist"
      required -->
    />

    <div class="msg">{{ msg }}</div>
    <input type="submit" value="Add Item To Collection" />
  </form>
</div>

{% endblock %}
