<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <title>Master Template</title>
  </head>
  <body>
    <!-- Work within blocks for repeated elements -->
    <h1>Title stored in the base template!!!</h1>
    {% block content %} {% endblock %}
    <h2>With A Subtitle + More Text</h2>
    <p><a href="inherits/one">Link To Inherited Page</a></p>
  </body>
</html>
